<h1>Orders</h1>

<% @orders.each do |order| %>
  <div>
    <%= order.product.name %>
    $<%= order.price %>
    <%= link_to 'Show', order %>
    <% if order.status == 0 %>
      <%= link_to 'Cancel', order, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>

