<h1>Editing Rate</h1>

<div class="mb-4">
  <%= render 'form', rate: @rate, url: order_rate_path(@order, @rate) %>
</div>

<%= link_to 'Show', order_rate_path(@order, @rate) %> |
<%= link_to 'Back', root_path %>
