<p>
  <strong>Product Name:</strong>
  <%= item.product.name %>
</p>

<p>
  <strong>Properties:</strong>
  <%= item.properties %>
</p>

<p>
  <strong>Cost:</strong>
  $<%= item.cost %>
</p>

<p>
  <strong>Stock:</strong>
  <%= item.stock %>
</p>
