<%= render 'details', item: @item %>
<% if @item.product.shop.user == current_user %>
  <div class="mb-4">
    <%= link_to "Edit Item", edit_product_item_path(@item.product, @item), class: "btn btn-primary" %>
  </div>
<% end %>
<%= link_to "Back", product_path(@item.product) %>
