<h1>Top up</h1>

<%= form_with url: users_top_up_path, method: :patch do |form| %>
  <div class="mb-4 row row-cols-lg-auto g-2 align-items-center">
    <%= form.label "value:", class: "form-label" %>
    <div class="col-12">
      <%= form.text_field :value, class: "form-control" %>
    </div>
  </div>
  <div class="actions mb-4">
    <%= form.submit "Top Up", class: "btn btn-warning" %>
  </div>
<% end %>
