<h1>WithDrawal</h1>

<%= form_with url: users_withdraw_path, method: :patch do |form| %>
  <div class="mb-4 row row-cols-lg-auto g-2 align-items-center">
    <%= form.label "value:", class: "form-label" %>
    <div class="col-12">
      <%= form.number_field :value, class: "form-control", min: "0" %>
    </div>
  </div>
  <div class="actions mb-4">
    <%= form.submit "withdraw", class: "btn btn-warning" %>
  </div>
<% end %>
