<h1>WithDrawal</h1>

<%= form_with url: users_withdraw_path, method: :patch do |form| %>
  <div class="mb-4">
    <%= form.label :value, class: "form-label" %>
    <%= form.number_field :value, in: 0..@user.balance, step: 0.01, class: "form-control" %>
  </div>
  <div class="actions mb-4">
    <%= form.submit "withdraw", class: "btn btn-warning" %>
  </div>
<% end %>
